{% extends "base.html" %}
{% block title %}Orden de Pago{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow-sm">
            <div class="card-header bg-success text-white">
                Orden de Pago
            </div>

            <div class="card-body">

                <p>
                    <strong>Paciente:</strong><br>
                    {{ orden.consulta.paciente }}
                </p>

                <p>
                    <strong>Consulta:</strong><br>
                    {{ orden.consulta.tipo_consulta }}
                    {% if orden.consulta.especialidad %}
                        - {{ orden.consulta.especialidad }}
                    {% endif %}
                </p>

                <p>
                    <strong>Monto:</strong><br>
                    S/ {{ orden.monto }}
                </p>

                {% if pagada %}
                    <div class="alert alert-success">
                        ✅ Esta orden ya fue pagada.
                    </div>
                {% else %}
                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">Método de pago</label>
                            {{ form.metodo_pago }}
			     {% if form.metodo_pago.errors %}
        			<div class="text-danger small mt-1">
   			         {{ form.metodo_pago.errors.0 }}
        			</div>
    				{% endif %}
                        </div>

                        <div class="d-flex justify-content-end gap-2">
                            <a href="{% url 'lista_pacientes' %}" class="btn btn-secondary">
                                Cancelar
                            </a>
                            <button type="submit" class="btn btn-success">
                                Confirmar pago
                            </button>
                        </div>
                    </form>
                {% endif %}

            </div>
        </div>

    </div>
</div>
{% endblock %}

